@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --primary-hue: 270;
  
  --light-lightness: 94%;
 

  --color-light1: hsl(var(--primary-hue), 5%, var(--light-lightness));



  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant:rgba(77,181,255,0.4);
  --color-white:#fff;
  --color-light:rgba(212, 224, 189, 0.6);

  --transition:all 400ms ease;


  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:96%;


  --border-radius-1: 1.2rem;
  --border-radius-2: 0.7rem;
  --border-radius-3: 0.5rem;
}

/* :root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: #4db5ff;
  
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  
  --container-width-lg: 76%;
  --container-width-md: 90%;

 
  

  
  --transition: all 500ms ease;
} */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Poppins",sans-serif;
  background: var(--color-bg);
  color:var(--color-white);
  line-height: 1.7;

}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;

}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 2.5rem;
}

.text-light{
  color: var(--color-light);
}




section{
  margin-top:8rem;
  
}

a{
  color: var(--color-primary);
  transition: var(--transition);
  
}

a:hover{
  color: var(--color-white);
}

.btn{
  width: max-content;
  display: inline block;
  color:var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: var(--color-light1);

}

.btn:hover{
  background: var(--color-light1);
  border-color: transparent;
  color: #2c2c6c;
}

.btn-primary{
  background: var(--color-primary);
  color: var(--color-bg);

}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width:1024px) {
  .container{
    width: var(--container-width-md);
  }
  section{
  margin-top: 6rem;
  }
  
}

@media screen and (max-width:600px) {
  .container{
    width: var(--container-width-sm);
  }
  section >h2{
  margin-bottom: 6rem;
  }
  
}