@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: #4db5ff;
  /* --color-primary: hsl(var(--primary-hue), 89%, 41%); */
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));






  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant:rgba(77,181,255,0.4);
 

  --transition:all 400ms ease;


  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:96%;


  --border-radius-1: 1.2rem;
  --border-radius-2: 0.7rem;
  --border-radius-3: 0.5rem;
}

/* :root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: #4db5ff;
  
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  
  --container-width-lg: 76%;
  --container-width-md: 90%;

 
  

  
  --transition: all 500ms ease;
} */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: "Poppins",sans-serif;
  background: var(--color-bg);
  color:var(--color-white);
  line-height: 1.7;

}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;

}

h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 2.5rem;
}

.text-light{
  color: var(--color-light);
}




/* section{
  margin-top:4rem;
  width: 100%;
  
} */

section {
  margin-top:4rem;
  min-height: 100vh; /* Ensure each section is at least viewport height */
  padding: 20px;
  box-sizing: border-box;
}

a{
  color: var(--color-primary);
  transition: var(--transition);
  
}

a:hover{
  color: var(--color-white);
}

.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--color-light);
  color: var(--color-white);
  transform: translateY(-0.5rem);
}

.btn.white {
  background: var(--color-white);
  color: var(--color-black);
}

.btn.white:hover {
  background: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}

.btn.primary {
  background: var(--color-primary);
  /* text color always white that's why i didn't use a variable color */
  color: white;
}

.btn.primary:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width:1024px) {
  .container{
    width: var(--container-width-md);
  }
  section{
  margin-top: 6rem;
  }
  
}

@media screen and (max-width:600px) {
  .container{
    width: var(--container-width-sm);
  }
  section >h2{
  margin-bottom: 6rem;
  }
  
}